body { background-color: #fff; color: #333; padding:0px;margin:0px;}

body, p, ol, ul, td {
  font-family: 'lucida grande', arial, helvetica, sans-serif;
  font-size:   13px;
}

table.padded td {padding:2px 8px 2px 8px;font-size:11px;}
table.padded th {padding:2px 8px 2px 8px;}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #38649F; }
a:visited {  }
a:hover { color: rgb(204, 102, 0); }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

.passed { color: #090;}
.failed { color: #C00;}
.a-column {
	float:left;padding:15px;
	width:200px;
	height:100%;
}
.b-column {
	float:left;padding:15px;
}
ul#category_tree {
	margin-top:0; margin-bottom:0; list-style-type:disc; list-style-position:outside;
	font-size:12px;
}
ul#category_tree li {
	list-style-image: url(/images/logo-tiny.jpg);
	margin:0px 0px 0px -20px;
}
ul#category_tree li.has_children_false {
	list-style-image: url(/images/plus-small.png);
	margin:0px 0px 0px -20px;
}
ul#category_tree li.has_children_true {
	list-style-image: url(/images/minus-small.png);
	margin:0px 0px 0px -20px;
}

ul#nav {
list-style-type: none;
padding: 0px;
margin: 0px;
}

.current {
	color:white;
	background-color: #0F5080;
	padding: 0px 7px 0px 7px;
	
}
ul#nav li.current a {
	color:white;
	background-color: #0F5080;
	padding: 0px 7px 0px 7px;
}

ul#nav li {
	color:#FFF;
	font-weight: bold;
	float: left;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
}
ul#nav li a {
	padding: 0px 7px 0px 7px;
	color:white;
	font-weight: bold;
	float: left;
	line-height:30px;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	color: #0F5080;
	border-right:1px solid #88a6c1;
}
ul#nav li a:hover {
background-color:#FC6;
}

.test_case_body { padding:4px; border: 1px solid #CCC;}
.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

p label {float:left; width:150px; text-align:right;}

th {background-color:#666;color:white;}
th a {color:white}

.pagination {
    padding: 3px;
    margin: 3px;
  }
  .pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: #38649F;
  }
  .pagination a:hover, .pagination a:active {
    border: 1px solid #38649F;
    color: #000;
  }
  .pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #1A4698;
    font-weight: bold;
    background-color: #38649F;
    color: #FFF;
  }
  .pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
  }