<h1>New Quick Tag</h1>

<%= error_messages_for :tag_favorite %>

<% form_for(@tag_favorite) do |f| %>
  <p>
    <b>Tag</b><br />
    <%= text_field_tag :tag %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tag_favorites_path %>