<h1>Last 100 test case executions</h1>

<% if false %>
<% @test_case_execution = TestCaseExecution.find(:first) %>
<span id='foo'>edit me</span>
<%= in_place_editor(:foo,:url => @test_case_execution) %>
<% end %>
<table class="padded">
  <tr>
    <th>Date</th>
    <th>User</th>
    <th>Result</th>
    <th>Bug</th>
    <th>Playlist</th>
    <th>Test case</th>
  </tr>
<%= render :partial => @test_case_executions %>
</table>

<br />

