<% d1 = Date.parse(params[:d1])%>
<% d2 = Date.today%>
<% d1 = (Date.today - 60) if (d2 - d1).abs > 60 %>
<style>
.r {color:#999999;}
</style>
<table border="1" cellpadding="2" cellspacing="0" bordercolor="#EFEFEF">
	<tr>
		<td>Date</td>
<% for d in d1..d2%>
<td style="font-size:10px"><%=d.to_s(:short)%></td>
<% end %>
</tr>
  <% playlist_test_cases = @playlist.playlist_test_cases.sort_by(&:last_result).reverse %>
	<% for playlist_test_case in playlist_test_cases %>
	<tr><td nowrap style="font-size:6px"><%#= playlist_test_case.id%></td>
	<% for d in d1..d2%>
			<% 
			recent_match = []
			exact_match = @test_case_executions.to_a.find { |r| r.playlist_test_case_id == playlist_test_case.id  && r.created_at.to_date == d.to_date }
			unless exact_match
				recent_match = @test_case_executions.to_a.find_all { |r| r.playlist_test_case_id == playlist_test_case.id  && r.created_at.to_date < d.to_date }
			end
			%>
			<% if exact_match %>
			<%= "<td class=e#{exact_match.result }>"%>
			<% elsif  recent_match && recent_match.last %>
			<%= "<td class=r#{recent_match.last.result}" %>
			<% else %>
			<td>
			<% end %>
			</td>
	<% end %>
<% end %>
</tr>
</table>
